html{
    background-color: dimgrey;
    text-align: center;
}
a{
    text-decoration: none;
    color: inherit;
}
.topbox{
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: ridge;
    position: relative;
}.topbox h1{
    font-size: 32;
    color: azure;
}.topbox a{
    text-decoration: none;
}#submit_button{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    bottom: 5px;;
}

.menu_bar{
    width: 100%;
    text-align: center;
    background-color: firebrick;
}.menu_bar a{
    display: inline-block;
    width: 80px;
}.menu_bar a:hover{
    background-color: rgb(150, 50, 50);
    color: white;
}

#main_content{
    display: inline-block;
    width: 70%
}

.linkbox{
    position: relative;
    border: solid white;
    display: flex;
    margin-top: 20px;
    background-color: firebrick;
    text-align: left;
}.linkbox_votes{
    display: inline-block;
    width: auto;
    margin: 0 20px 0 20px;
    text-align: center;
}.linkbox_votes img{
    display: block;
    width: 40px;
    height: 40px;
    border: solid white;
    margin-top: 0;
    margin-bottom: 0;
}.linkbox_main{
    display: inline-block;
}.linkbox_titlebox{
    display: block;
}.linkbox_titlebox a:hover{
    text-decoration: underline;
}.linkbox_buttons{
    position: absolute;
    bottom: 3px;
}

.linkbox_discuss_button:hover, .linkbox_sources_button:hover{
    text-decoration: underline;
}

.linkbox_title{
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
}.linkbox_link{
    font-family: "Lucida Console", monospace;
    font-size: 0.8em;
}

.commentsbox{
    border: solid white;
    display: none;
    margin-top: 0;
    width: 80%;
    max-height: 500px;
    background-color: firebrick;
    text-align: left;
    border-top: none;
    overflow-y: scroll;
}.commentsbox_header{
    text-align: center;
    font-family: serif;
    font-size: 1.3em;
}

.comment{
    margin: 5px 2px 5px 2px;
    border-top: solid grey 2px;
}.username{
    font-family: sans-serif;
    font-size: 1.1em;
}.comment_text{
    font-family: sans-serif;
    font-size: 0.9em;
}
